body {
  margin: 0;
  font-family: "Be Vietnam Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    font-size: 56px;
    font-weight: 600;
    margin: 0;
  }

  h2 {
    margin: 0;

  }

  h3 {
    margin: 0;
  }

  p {
    font-size: 20px;
    color: darkgrey;
    width: 75%;
  }
}

.logo,
.link {
  cursor: pointer;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}