.element-container {
    display: flex;
    padding: 100px 10px 0 10px;

    .element-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .get-started {
            margin-top: 20px;
            width: fit-content;
            cursor: pointer;
        }
    }

    .img-container {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}